name: Android CI

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "*" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '17'

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Build with Gradle
        uses: gradle/gradle-build-action@v2
        with:
          arguments: assembleRelease

      - name: Upload release APK
        uses: actions/upload-artifact@v4
        with:
          name: auryxbrowser-release-unsigned
          path: app/build/outputs/apk/release/app-release-unsigned.apk
